<div class="container-fluid my-3 text-center">
  <h2 class="text-underline">Services</h2>
  <h5 class="text-secondary">
    Islamic vashikaran mantra, Muslim astrology, Muslim astrologer, in India
  </h5>
  <div class="row row-12 m-0 px-3" style="width: 100%">
    <div
      class="col col-12 col-sm-6 col-md-3 justify-content-center align-items-center"
      *ngFor="let item of cards; let i = index"
    >
      <div
        class="card depth justify-content-center align-items-center"
        style="width: 100%; height: 250px"
      >
        <img [src]="item.img" alt="img.title" class="img-fluid mb-3" style="width: 70px;" />
        <div class="h4">{{ item.title }}</div>
      </div>
    </div>
  </div>
</div>
