<div
  class="row row-12 mybg text-light py-2 m-0 justify-content-center align-items-center depth"
  style="width: 100%"
>
  <div
    class="col col-12 col-md-4 py-2 m-0 justify-content-center align-items-center"
  >
    <div
      class="justify-content-center align-items-center text-center"
      style="width: 100%"
    >
      <img
        src="assets/images/avatar.jpg"
        alt="avatar"
        class="img-fluid depth avatar mx-auto"
      />
    </div>
  </div>
  <div class="col col-12 col-md-8 py-2 m-0">
    <div class="row row-12 m-0" style="width: 100%">
      <h2>{{ name }}</h2>
    </div>
    <div class="row row-12 m-0" style="width: 100%">
      <p>
        {{ name }} is an Famous Astrologer who is helping peoples to solve their
        problems and bring back peace, love in their life with power of
        astrology. {{ name }} strongly believe in the power of Astrology and
        always be passionate to use my knowledge and skills for the benefit of
        everyone’s life. It is a human tendency since long ago, they were always
        peoples. From last many decades, <strong>Muslim Astrology</strong> plays a very important role in
        eager to know the prophecies about their future.
      </p>
      <p>
        Let it be any problem of life related to Late Marriage, Love Affairs,
        Career, Business, Health, Study, Foreign Trip, etc. I provide the
        transparent and effective advice to overcome or handle difficult
        situations in life by using my skills and experience. I only believe in
        the best quality of the consultation. You can fix direct face to face
        appointment with {{ name }}, you just have to book an appointment
        through calling of mobile Number {{ phone_number }}. Timings for the
        appointment bookings are 24x7. Telephonic & Whats App chat consulting is
        also available. You can also contact us on Whats App and take the
        consultation at your convenient time.
      </p>
    </div>
  </div>
</div>
