<div class="row theme-green-bg text-white py-2 m-0 depth" style="width: 100%">
  <div class="col col-12 col-md-4 text-center my-2">
    Phone Number: <a href="tel:919521711833">{{ phone_number }}</a>
  </div>
  <div class="col col-12 col-md-4 text-center my-2">
    Don't Loose Hope, Trust Us Get Advice on Call Or Whatsapp
  </div>
  <div class="col col-12 col-md-4 text-center my-2">
    Whatsapp Chat On <a href="tel:919521711833">{{ phone_number }}</a>
  </div>
</div>
<div
  class="row py-2 m-0 justify-content-center align-items-center"
  style="width: 100%"
>
  <div
    class="col col-12 col-md-4 text-center my-2 justify-content-center align-items-center"
  >
    <div class="text-bold" style="font-size: 2em">
      Astrologer <strong>{{ name }}</strong
      >, Bollywood And TV Astrologer
    </div>
  </div>
  <div
    class="col col-12 col-md-4 text-center my-2 justify-content-center align-items-center"
  >
    <img src="assets/images/heart.gif" alt="broken heart" class="img-fluid" />
  </div>
  <div
    class="col col-12 col-md-4 text-center my-2 justify-content-center align-items-center"
  >
    <div class="align-items-center" style="font-size: 2em">
      <fa-icon [icon]="faWhatsapp" class="my-auto"></fa-icon>
      <span class="my-auto"
        ><a href="tel:919521711833">{{ phone_number }}</a></span
      >
    </div>
    <div style="font-size: 1.25em">Don't Waste Time</div>
  </div>
</div>
<carousel
  autoplay="true"
  autoplayInterval="2500"
  arrows="false"
  loop="true"
  cellWidth="100%"
  height="500"
  dots="true"
  style="z-index: 1 !important;"
>
  <div class="carousel-cell">
    <img
      src="assets/images/banner_1.jpg"
      class="img-fluid"
      style="width: 100%; z-index: 1 !important;"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="assets/images/banner_2.jpg"
      class="img-fluid"
      style="width: 100%; z-index: 1 !important;"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="assets/images/banner_3.jpg"
      class="img-fluid"
      style="width: 100%; z-index: 1 !important;"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="assets/images/banner_4.jpg"
      class="img-fluid"
      style="width: 100%; z-index: 1 !important;"
    />
  </div>
</carousel>
