<div class="container-fluid my-3 py-5 text-center theme-green-bg">
  <div class="card m-3 p-3" style="border-radius: 25px">
    <h2>What Our Client Says</h2>
    <carousel
      autoplay="true"
      autoplayInterval="2500"
      arrows="false"
      loop="true"
      cellWidth="100%"
      height="250"
    >
      <div
        class="carousel-cell row justify-content-center align-items-center py-3"
        style="width: 100%; height: 100%"
      >
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary py-4"
        >
          Thank you very much for true solution that you provide for my problem
          I always quick to this helpful advice.
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h5 m-0"
        >
          Mr. Ram
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary"
        >
          London, UK
        </div>
      </div>
      <div
        class="carousel-cell row justify-content-center align-items-center py-3"
        style="width: 100%; height: 100%"
      >
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary py-4"
        >
          Thank you for another wonderful astrology information that is precious
          for my family problem solution.
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h5 m-0"
        >
          Ms. Komal
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary"
        >
          Mumbai, India
        </div>
      </div>
      <div
        class="carousel-cell row justify-content-center align-items-center py-3"
        style="width: 100%; height: 100%"
      >
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary py-4"
        >
          I have no word to express that your love problem solution which you
          gave me is really awesome thank you Pandit ji for help me.
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h5 m-0"
        >
          Mr. Ramesh Singhal
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary"
        >
          Delhi, India
        </div>
      </div>
      <div
        class="carousel-cell row justify-content-center align-items-center py-3"
        style="width: 100%; height: 100%"
      >
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary py-4"
        >
          Thank you for the wonderful reading with great gift.
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h5 m-0"
        >
          Mr. Raj Kapoor
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary"
        >
          California, US
        </div>
      </div>
      <div
        class="carousel-cell row justify-content-center align-items-center py-3"
        style="width: 100%; height: 100%"
      >
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary py-4"
        >
          I always try to solve my business problems but could not get success
          but now i am a successful business man only because of your tips thank
          you.
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h5 m-0"
        >
          Judith Tierney
        </div>
        <div
          style="width: 100%"
          class="row text-center justify-content-center h6 text-secondary"
        >
          Sydney, Australia
        </div>
      </div>
    </carousel>
  </div>
</div>
